.html{
  background-color: rgb(126, 73, 126);
}
.head {
  color: black
  text-align: center;
  font-style: italic;
}
.intro {
  color: #000;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tro{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: green;
  
}
.content{
  
  color: rgb(29, 7, 7);
  font-size: 35px;
  float: left;
  width: 30%;
  background-color: black;
}
.image{
  align-self: center;
}
.head{
  text-align: center;
  color: #000;
  font-size: 50px;
  font-style: italic;
}
.p1{
  color: black
  text-align: center;
}
.image{
  position: relative;
}
.head3{
  text-align: center;
  color: black
  
}
.act{
  text-align: center;
  color: black
}
.din{
  text-align: center;
  color: black
}
.spa{
  text-align: center;
  color: black
}
body {
  background-image: url(../island2.jpg)
}